.App {
  text-align: center;
}


.ais-wrapper {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}

#mapid { 
  flex: 1;
}

.time-range-section {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
}

.time-range-details {
  font-family: sans-serif;
  font-size: 15px;
  color: #77828C;
  flex: 1;
  margin-left: 10px;
}

.from, .to {
  margin-top: 10px;
  margin-bottom: 10px;
}

.time-slider {
}

.time-container {
  padding: 30px 10px 0;
  height: 70px;
  width: 85%;
  box-sizing: border-box;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
